@import "../theme.less";

.form-control {
  height: 45px;
  background-color: @light-gray;

  &:focus {
    box-shadow: none;
    background-color: darken(@light-gray, 3%);

    .ss-form-control-border
  }

  .ss-form-control-border
}
