@import "../theme.less";

.form-control {
  height: 45px;
  background-color: @light-gray;

  &:focus {
    box-shadow: none;
    background-color: darken(@light-gray, 3%);

    .ss-form-control-border
  }

  .ss-form-control-border
}

.form-control-plaintext {
  width: auto;
  display: inline-block;
}

label {
  width: 100px;
  display: inline-block;
}
