.toasts-container {
  position: absolute;
  bottom: 47px;
  right: 0;

  .toast {
    padding: 10px;
    margin: 10px;
    min-width: 250px;
    position: relative;
    background-color: white;
    box-shadow: 0px 1px 3px grey;
    transition: 400ms cubic-bezier(0.17, 0.67, 0.17, 0.98);
    transition-property: opacity, margin, transform;
    z-index: 3;

    &.toast-success {
      border-top: solid 5px @success;
    }

    &.toast-error {
      border-top: solid 5px @error;
    }

    .toast-close {
      position: absolute;
      top: 2px;
      right: 3px;

      i {
        font-size: 13px;
      }
    }

    .ss-border
  }

  // transition styles
  .toast-enter-active, .toast-leave-active {
    transition: all 1s;
  }
  .toast-enter {
    opacity: 0;
    transform: translateY(30px);
  }
  .toast-leave-to {
    opacity: 0;
    transform: translateY(-30px);
  }
  .toast-move {
    transition: transform 1s;
  }
  .toast-leave-active {
    position: absolute;
  }
}
