@import "theme.less";
@import "./core/modal.less";
@import "./core/toasts.less";
@import "./core/loading.less";
@import "./core/forms.less";
@import "nav.less";

html body {
  font-family: 'PT Sans', sans-serif;
  background-color: @light-gray;
}

section {
  margin: 50px 0;
}

/* Headers
-------------------------------------------------- */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.h5, h5 {
  font-size: 1.1rem;
}

/* Anchor tags
-------------------------------------------------- */
#app main a {
  cursor: pointer;
  color: lighten(@base-color, 10%);

  &:hover {
    color: @base-color;
  }

  &.icon-link {
    padding: 10px;
    color: @dark-gray;
  }
}

/* Buttons
-------------------------------------------------- */
.btn {
  .ss-btn
}

.btn-secondary {
  background-color: @dark-gray;

  &:hover {
    background-color: darken(@dark-gray, 10%);
  }
}

/* Cards
-------------------------------------------------- */
.card {
  .ss-border
}

/* Lists
-------------------------------------------------- */
.list-group {
  .list-group-item {
    border: none;
    border-bottom: solid 2px @light-gray;
    border-radius: 0;
  }

  .ss-border
}
