@import "theme.less";

.navbar {
  min-height: 60px;
  padding: 0;
  background-color: @base-color;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);

  .navbar-brand {
    padding: 0;
    margin: 10px 0 0;

    i {
      font-size: 45px;
    }
  }

  .nav-link {
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
}

.navbar, .footer {
  color: @base-bg-text-color;

  .navbar-nav {
    a.nav-link {
      color: @base-bg-text-color;

      &:hover, &.router-link-exact-active {
        color: @white !important;
      }
    }
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px; /* Set the fixed height of the footer here */
  line-height: 45px; /* Vertically center the text there */
  background-color: @base-color;
}

/* overwrite bootstrap default
-------------------------------------------------- */
@media (max-width: 767.98px) {
  .navbar-expand-md > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
